{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {"esmodules": true},
        "bugfixes": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "linaria/babel"
  ]
}
